Package: builder-gradle
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: bash, gradle
Maintainer: Thibaut Nouguier <nouguier.thibaut@gmail.com>
Description: Test du builder avec gradle
